<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="table" parallel="false">
    <test verbose="1" name="table" annotations="JDK">
        <packages>
            <package name="com.iflym.table.*">
            </package>
        </packages>
    </test>
</suite>